.kontakt {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 50px 60px;
    color: #fff;
    background: #000;
    background-clip: padding-box;
    /* !importanté */
    border: solid 5px transparent;
    /* !importanté */
    border-radius: 1em;
}

.form:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, #eef85b, #7aec8d, #09e5c3);
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.block {
    margin-bottom: 10px;
}

.block input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    border-bottom-style: solid;
    /* border-color: white; */
    border-image: linear-gradient(-86deg, #eef85b 5%, #7aec8d 53%, #09e5c3 91%)
        30;
    border-width: 4px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    background-color: transparent;
    color: white;
}

.block input:focus {
    border-bottom-style: solid;
    border-color: #eef85b;
}

.message textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    resize: none;
    outline: none;
    /* test */
    border-radius: 5px;
    border: none;
    border-bottom-style: solid;
    /* border-color: white; */
    border-image: linear-gradient(-86deg, #eef85b 5%, #7aec8d 53%, #09e5c3 91%)
        30;
}

.container h1 {
    color: white;
    font-size: 2em;
    margin: 0 10px;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(
        -86deg,
        #eef85b 5%,
        #7aec8d 53%,
        #09e5c3 91%
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #232d2d;
    margin-bottom: 110px;
}

.button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to right, #eef85b, #7aec8d, #09e5c3);
    color: rgb(0, 0, 0);
}
